body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightskyblue;
}

section {
    padding: 20px;
    text-align: center;
}


/* Responsive iframe styling */
iframe {
    width: 100%;
    min-height: 600px;
    border: none;
    overflow: hidden;
}

/* Responsive adjustments for different screen sizes */
@media (max-width: 768px) {
    iframe {
        min-height: 500px;
    }
}

@media (max-width: 480px) {
    iframe {
        min-height: 400px;
    }
}

