
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    font-family: "Inika", serif !important; 
    
}
/* Font and Color for entire page */
h1 , h2 , h3  {
    
        font-family: "Inknut Antiqua", serif;
        font-weight: 400;
        font-style: normal;
      
      
}
html {
    scroll-behavior: smooth;
}




nav {
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: absolute; /* Position navbar over the images */
    width: 100%; /* Ensure navbar spans the full width */
    z-index: 10;
    
}

#menu-strip {
  
    margin: 0 auto;
    padding: 0;
    
}

#menu {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    /* padding:15px; */
 
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;

    
}

.logo img {
    max-width: 170px;
    height: auto;
    display: block;
    margin: 0;
}
.horizontal-centering {
   
    padding-left: 20vw;
}
.horizontal-centering ul {
    display: flex;
    list-style-type: none;
}

.horizontal-centering ul li {
    position: relative;
    
}

.horizontal-centering ul li a {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    padding: 2px 5px;
    text-decoration: none;
    display: block;
}

.horizontal-centering ul li a:hover,
.horizontal-centering ul li a.active {
    background-color: #0FA3B1;
    color: white;
}

ul.dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
}

ul.dropdown li a {
    padding: 15px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: none;
    /* cursor: pointer; */
}

ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #000;
    width: 200px;
    z-index: 999;
    display: flex;
    flex-direction: column; /
}


ul.dropdown ul ul {
    position: absolute;
    top: 0;
    left: 100%; 
}


ul.dropdown li:hover > ul {
    visibility: visible;
}


ul.dropdown ul li {
    width: 100%; 
}

ul.dropdown ul a {
    padding: 10px;
    background: #333;
    font-size: 12px;
    color: white;
}


.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon i {
    font-size: 24px;
    color: #333;
}

@media (max-width: 768px) {
    #menu {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0px;
        padding-right: 0;
    }

    .horizontal-centering {
        display: none;
        width: 100%;
        padding-left: 1px;
    }

    .horizontal-centering ul {
        flex-direction: column;
        width: 100%;
    }

    .horizontal-centering ul li {
        width: 100%;
    }

    .horizontal-centering ul li a {
        width: 100%;
        text-align: left;
    }

    .menu-icon {
        display: block;
    }

    .logo img {
        max-width: 80px;
    }

    .menu-open .horizontal-centering {
        display: flex;
    }

    .menu-open .menu-icon i {
        content: '\f00d'; 
    }
    #Gagan-showcasehub h2 ,#main-body h2,#product-categories h1{
        font-size: 18px !important;
    }
}
/* @media (max-width: 768px) {
    .gallery-item:hover {
        pointer-events: none; 
    }
} */
/* Stling for images  */
.image-stack {
    position: relative; /* Containing element for absolute positioning */
    width: 100%; /* Full width of the container */
    height: 85vh; /* Use viewport height for responsiveness */
    
    overflow: hidden; /* Hide overflow if images exceed height */
}

.stacked-image {
    position: absolute; /* Position images absolutely */
    top: 0; /* Start from the top */
    left: 0; /* Align images to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Ensure images cover the container */
    opacity: 0; /* Start with images hidden */
    transition: opacity 0.3s; /* Smooth transition */
}

.stacked-image:hover {
    opacity: 1; /* Full opacity on hover */
}

/* Make the first image visible */
.stacked-image:first-child {
    opacity: 1;
}


/* Optional media queries for further customization */
@media (max-width: 768px) {
    .image-stack {
        height: 30vh; /* Adjust height for smaller screens */
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  

  
/* image styling */
body {
    background-position: center top; 
    display: flex;
    flex-direction: column;
    font-family: "Inika", serif ; 
}
/* Styling for Main */
#main-body {
    background-color: #FDE3D5; /* Light peach background for content */
    padding: 50px 20px;
    text-align: center;
    line-height: 1.8;
    /* margin-top: 30px; */
    /* box-shadow: 2px 2px 20px #FDE3D5;
    border-radius: 50px;
    border: 2px solid pink; */
}

h2 {
    
    font-size: 2.5rem;
    color: #008080; /* Teal heading color */
    margin-bottom: 20px;
    text-transform: uppercase;
}

p {
    font-size: 1.1rem;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}

#read-more-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #0FA3B1; /* Button background color matching heading */
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 30px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: "Inika", serif ; 
}

#read-more-btn:hover {
    background-color: #006666; /* Slightly darker on hover */
}

main {
    text-align: center;
    /* padding: 20px; */
    background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
    .logo img{
        max-width: 100px;
    }
    /* main {
        margin-top: 20px;
    } */
}
h2{
    color: #0FA3B1;
}
/* Styling for gagan show case hub */

#Gagan-showcasehub{
    background-color: #F5EED1;
    padding-top: 30px;
    /* margin-top: 30px; */
    /* box-shadow: 2px 2px 20px #F5EED1 ;
    border-radius: 50px;
    border: 2px solid goldenrod;; */
}
#gallery-item-color{
    color: #FF5800;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 20px;
}


.gallery-item {
    text-align: center; 
    margin: 10px; 
    flex-basis: calc(14.28% - 20px); 
    box-sizing: border-box; /
}


.gallery-item img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
     height:80%; 
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.gallery-item:hover img {
    transform: scale(1.05); /* Slightly enlarges the image on hover */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
}


.gallery-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease-in-out;
    text-transform:uppercase ;
}




@media (max-width: 992px) {
    .gallery-item {
        flex-basis: calc(25% - 20px); 
    }
}


@media (max-width: 768px) {
    .gallery-item {
        flex-basis: calc(50% - 20px); 
    }
}


@media (max-width: 480px) {
    .horizontal-centering{
        background-color:black ;
    }




    .gallery-item {
        flex-basis: calc(100% - 20px); 
    }
}





    









/* Styling for product categories */

.fo-menu {
    text-align: center;
    
    background-color: #CFEDEF;
    padding: 30px;
    justify-content: center;
    /* margin-top: 30px; */
    /* box-shadow: 2px 2px 20px #F5EED1 ;
    border-radius: 50px;
    border: 2px solid skyblue;; */


}

#product-categories h1 {
    font-size: 2.5rem;
    color: #33a2ac;
    margin-bottom: 30px;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

.product-section li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 10px;
    
    
}

.product-section li a {
    text-decoration: none;
    color: #ff7f24;
    font-size: 1.2rem;
    text-align: left;
}

.product-section li ul {
    width: 100%;
    margin-top: 10px;
}

.product-section li ul li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    white-space: nowrap;
}

.product-section li ul li a {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
}
.product-section li ul li a:hover {
    color: #0FA3B1;
    font-weight: 500;
    transform: scale(1.1);
    
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-section {
        flex-direction: column;
        align-items: center;
    }
    .product-section li {
        width: 100%;
        max-width: 300px;
    }
}

@media (min-width: 769px) {
    .product-section {
        display: flex;
        justify-content: space-evenly;
    }
    /* .product-section li {
        width: 20%;
    } */
}
/* Styling for google translater */

.translate-container {
    display: flex;
    
    margin-right: 1vw;
 
    
}

#google_translate_element {
    display: inline-block; /* Makes sure it fits in the nav */
    width: auto; /* Allow width to adjust automatically */
    height: 30px; /* Set a specific height */
    overflow: hidden; /* Hide overflow */
}

body .skiptranslate {
    height: 30px; /* Adjust height to match nav bar */
}

/* Adjust the height of the dropdown */
body .goog-te-menu-value {
    height: 30px; /* Adjust height of the translate dropdown */
    line-height: 30px; /* Center the text vertically */
}

body .goog-te-gadget {
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
}

body .goog-te-gadget-simple {
    display: inline-block; /* Keep it inline */
    height: 30px; /* Match navbar height */
}

/* Custom styles for the language dropdown */
body .goog-te-combo {
    height: 30px; /* Match height */
    font-size: 12px; /* Smaller font size */
    line-height: 30px; /* Center text vertically */
}

@media (max-width: 600px) {
    #google_translate_element {
        margin: 0; /* Adjust for small screens */
    }
}
  





/* Footer base styling */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #f5eed1;
    align-items: center;
    
    padding: 2vw;
    flex-wrap: wrap;
    
}

/* Footer left side container */
footer #footer-leftside-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Footer navigation links container */
#footer-leftside-container #footer-nav-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer-nav-container ul a {
    text-decoration: none;
    color: #ff7f24;
    opacity: 1;
    border-right: 1px solid black;
    margin-right: 8px;
    padding-right: 8px;
    flex-wrap: wrap;
    
}

#footer-nav-container ul a:last-child {
    border-right: none; /* Remove border for the last item */
}

#footer-nav-container ul :hover {
    transform: scale(1.1);
}

/* Right-side container styling */
#footer-rightside-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

}

#footer-rightside-container h3 {
    color: #ff5800;
}

/* Social icons container */
.social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    

}
.social-icons li {
    display: flex;
   
   align-items: center;
} 

.social-icons a {
    color: #0FA3B1; 
    font-size: 1.2em;  
    padding: 0.5vw;
    margin: 5px;     
    transition: transform ease-in-out 0.3s;
}

.social-icons a:hover {
    transform: scale(1.4);
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    /* Stack footer items in column on mobile */
    footer {
        flex-direction: column;
        align-items: center;
        padding: 2vw;
    }

    /* Adjust the navigation links to stack in a column */
    #footer-leftside-container #footer-nav-container ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        
    }

    #footer-nav-container ul a {
        margin-right: 0;
        padding-right: 0;
        padding-bottom: 10px;
        border-right: none;
        border-bottom: 1px solid black; /* Add bottom border instead of right */
        padding-top: 15px;
    }

    #footer-nav-container ul a:last-child {
        border-bottom: none; /* Remove border for the last item */
    }

    /* Adjust the social icons to be centered */
    .social-icons {
        justify-content: cener;
    }
}

@media only screen and (max-width: 480px) {
    #footer-nav-container ul a {
        font-size: 0.9rem; /* Slightly smaller font size for mobile */
    }

    .social-icons a {
        padding: 0.8vw; /* Increase padding slightly for better touch targets */
    }
}
/* Whatsapp image */ 
#whatsapp-image {
    position: fixed;
    bottom:11vh;
    right: 35px;
    z-index: 9;
    
   
  }
  
  /* Default size for the image */
  #whatsapp-image img {
    width: 50px; /* Default size */
    height: auto; /* Maintain aspect ratio */
  }